<form action="/users/password_reset" method="post">
	New Password: <input name="password" type="password">
	Confirm Password: <input name="password_confirmation" type="password">
	<input value= 'Reset Password' type="submit">
	<input type="hidden" name="password_token" value="<%=@token%>"> 
</form> 